
    
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/green wood.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ryan Rousseau</h1>
                        <hr class="small">
                        <span>.NET Developer</span><!--change font--!>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                        <h3 class="post-title">
                            This place is under construction! Soon you will find a variety of amazing content that shows off my skills! I am a student studying fullstack .NET. Check out my blog to read about my progress!
                            <br/>
                            <br />In the mean time, feel free to peruse my résumé <a href="~/RyanRousseauResumeJuly2016.pdf"?>here.</a>
                        </h3>
                <br/>
                <br/>
                <br/>
               
                
                <h2>A little about me</h2>

                <p>
                    I have been a world traveler, writer, a board gamer, and now I code. I have been blessed with a family that loves me and desire to learn.
                    In my spare time, I enjoy trying, like many nowadays, to Catch them All.
                </p>

                <p>
                    My coding career began over a plate of pasta and cheesy breaksticks. Two good friends and I had decided that the best way to proceed in this life was to build things from our
                    couches. I had not shown much in the way of technical inclination before, so I was hesitant to pursue a career in coding. My interests had always been in strategy games and Lego construction, and
                    working through logic puzzles. What was I going to do sitting at a computer?
                </p>

                <h3>I was going to have a lot of fun</h3>

                <p>I began my journey, like many do, with simply Googling free resources. And then I was buried in resources. The web was so very congested with suggestions and guidelines for "learing to code quick!" or "Make 100k after only 12 weeks of training!" Needless to say, I was not convinced, but I was curious. I began to look into onsite education as well as 
                the variety of different languages that I could study as well as where they could take me. After several months of deliberating and discernment, I decided on Coder Foundry, offering a fullstack .NET curriculum.</p>

                <br />
                <br />
                <br />
                
                
                
                <hr>

                @*<h2>Contact information</h2>
                <p>Stop! Who approaches the Bridge of Death must answer me these questions three, 'ere the other side he see! </p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="What...is your name?">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="What...is your quest?">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="What...is your favorite color?">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="What...is the airspeed velocity of an unladen swallow?"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>*@
            </div>
                
            </div>
        </div>
    </div>
        
