
    
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/snail.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ryan Rousseau</h1>
                        <hr class="small">
                        <span>.NET Developer</span><!--change font--!>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                        <h2 class="post-title">
                            This place is under construction! Soon you will find a variety of amazing content that shows off my skills!
                            In the mean time, feel free to peruse my résumé <a href=""
                        </h2>
            </div>
                
            </div>
        </div>
    </div>
        
