<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/img/zen2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>My Journey through the chaos of code to the zen of developing</h1>
                </div>
            </div>
        </div>
    </div>
</header>







    <div class="container">
        <div class="row">

            <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">Comparing Numbers</a>
            <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-lg">Factorial</a>
            <a data-toggle="modal" href="#myModal3" class="btn btn-primary btn-lg">When you say Fizz...</a>
            <a data-toggle="modal" href="#myModal4" class="btn btn-primary btn-lg">Palindrome</a>

        </div>

         <div class="row">

             <div class="col-lg-8">
                 @*<article>*@   
                 @*offset-2 col-md-10 col-md-offset-1*@

                

                 <!-- Button trigger modal -->
                 <!-- Modal -->
                 <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                 <h4 class="modal-title">Enter 5 numbers below and I will produce some calculations!</h4>
                             </div>
                             <div class="modal-body">

                                 <body>

                                     <h2>Enter numbers below</h2>

                                     <form>
                                         <fieldset>

                                             <input id="first" type="number" name="answer1">
                                             <br>
                                             <input id="second" type="number" name="answer2">
                                             <br>
                                             <input id="third" type="number" name="answer3">
                                             <br>
                                             <input id="fourth" type="number" name="answer4">
                                             <br>
                                             <input id="fifth" type="number" name="answer5">
                                             <br>

                                             <button id="compareButton">Submit</button>

                                             <button id="clearButton">Clear!</button>


                                         </fieldset>
                                     </form>
                                     <h1><span id="error"></span></h1>

                                     <h2>The smallest number is...<span id="output1"></span></h2>

                                     <h2>The largest number is...<span id="output2"></span></h2>

                                     <h2>The mean is...<span id="output3"></span></h2>

                                     <h2>The sum is...<span id="output4"></span></h2>

                                     <h2>The product is...<span id="output5"></span></h2>

                                 </body>

                                 <div class="col-sm-12 margin-small">

<pre class="line-numbers">
<code class="language-javascript">$(document).ready(function() {
var input1,
	input2,
	input3,
	input4,
	input5;
 	$('#compareButton').click(function(event) {
 	 event.preventDefault();
    $('#error').empty();
	$('#output1').empty();
	$('#output2').empty();	
	$('#output3').empty();
	$('#output4').empty();
	$('#output5').empty();
	$('#first').empty();
	$('#second').empty();
	$('#third').empty();
	$('#fourth').empty();
	$('#fifth').empty();
	
	input1 = $('#first').val();
	input2 = $('#second').val();
	input3 = $('#third').val();
	input4 = $('#fourth').val();
	input5 = $('#fifth').val();
	if ($.isNumeric(input1)&& $.isNumeric(input2)&& $.isNumeric(input3) && $.isNumeric(input4) && $.isNumeric(input5)){
			input1 = parseFloat(input1);
			input2 = parseFloat(input2);
			input3 = parseFloat(input3);
			input4 = parseFloat(input4);
			input5 = parseFloat(input5);
			
			var least =Math.min(input1, input2, input3, input4, input5);
			var greatest =Math.max(input1, input2, input3, input4, input5);
			var mean =((input1 + input2 + input3 + input4 + input5) / 5);
			var sum = (input1 + input2 + input3 + input4 + input5);
			var product = (input1 * input2 * input3 * input4 * input5);
			$('#output1').append(least);
			$('#output2').append(greatest);
			$('#output3').append(mean);
			$('#output4').append(sum);
			$('#output5').append(product);
		}
	else {
			$('#error').append("<font color='blue'> Please enter 5 numbers</font>");
		};
		
 		});
	
	});
    
   
</code> 
</pre>



                                 </div>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             </div>
                         </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                 </div><!-- /.modal -->
                 <!-- Button trigger modal -------BEGINNING OF NEW MODAL-->
                 <!-- Modal -->
                 <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                 <h4 class="modal-title">Give me a number and I will produce the Factorial!</h4>
                             </div>
                             <div class="modal-body">
                                 <body>
                                     <h2>Enter numbers below</h2>
                                     <form>
                                         <fieldset>

                                             <input id="factorialInput" type="number">
                                             <br>

                                             <button id="factorialButton">Submit</button>

                                         </fieldset>
                                     </form>
                                     <h3>The Factorial is..... </h3><span id="factorialOutput"></span>
                                 </body>
                             </div>

<pre class="line-numbers">
<code class="language-javascript">$(document).ready(function() {
var inputValue;
$('#factorialButton').click(function(event) {
 	 event.preventDefault();
	inputValue = $('#factorialInput').val();
	$('#factorialOutput').empty();
var answer= inputValue;
if ($.isNumeric(inputValue)) {
	for (var i = inputValue; i > 1; i--) { 
	answer = answer * (i -1);
	}
}
else {
	$('#factorialOutput').append("<font color='red'> Please enter a number--Controllers Render Views!</font>");
}
$('#factorialOutput').append(answer);
	});
});
</code>
</pre>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             </div>
                         </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                 </div><!-- /.modal -->
                 <!--New Modal BEGINNING-->
                 <!-- Modal -->
                 <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                 <h3 class="modal-title"> I Say Buzz!</h3>
                                 <h4> Enter two numbers below, between 1-100, and see them Fizz and Buzz, and maybe even FizzBuzz!</h4>
                             </div>
                             <div class="modal-body">
                                 <body>

                                     <h2>Enter numbers below to see them Fizz and Buzz!</h2>
                                     <form>
                                         <fieldset>
                                             <input id="fizzInput1" type="number">
                                             <br>
                                             <input id="fizzInput2" type="number">
                                             <br>

                                             <button id="fizzButton">Submit</button>
                                         </fieldset>
                                     </form>

                                     <h2>Look at those FizzBuzzes!</h2> <h4><div id="fizzOutput"></h4>


                                 </body>
                             </div>
                         
<pre class="line-numbers">
<code class="language-javascript">$(document).ready(function() {
$('#fizzButton').click(function(event) {
     event.preventDefault();
     $('#fizzOutput').empty();
	var input1 = $('#fizzInput1').val();
	var input2 = $('#fizzInput2').val();
       
if  (((input1 > 0) && (input1 <= 100)) && ((input2 > 0) && (input2 <= 100))) {
for (var i=1; i <= 100; i++){
   if (i % input1===0 && i % input2 ===0) {
       $('#fizzOutput').append("<font color='green'>FizzBuzz" + "<br />");
         
        }else if (i % input1 === 0){
            $('#fizzOutput').append("<font color='blue'>Fizz" + "<br />");
        }
       
        else if (i % input2 === 0){
            $('#fizzOutput').append("<font color='red'>Buzz" + "<br />");
        }
        
        else{
            $('#fizzOutput').append(i + "<br />");
        }
     }
    }
    else {
        $('#fizzOutput').append("<font color='green'> Please enter 2 numbers between 1-100</font>")
    }
});
});
</code>
</pre>

                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                          </div> <!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                 </div> <!-- /.modal -->
                
                
                 <!-- Button trigger modal -------BEGINNING OF NEW MODAL-->
                 <!-- Modal -->
                 <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                 <h4 class="modal-title">Enter a word below to see if it is a Palindrome!</h4>
                                 <h5>Try "A Man, A plan, A canal, Panama!"</h5>
                             </div>
                             <div class="modal-body">
                                 <body>
                                     <h2>Do you even Palindrome, Brah?</h2>

                                     <form>
                                         <fieldset>
                                             <input id="inputString" type="text">
                                             <br>

                                             <button id="palindromeButton">Submit</button>

                                         </fieldset>
                                     </form>
                                     <h2><span id="palindromeOutput"></span></h2>

                                 </body>
                             </div>

<pre class="line-numbers">
<code class="language-javascript">$(document).ready(function() {
	var inputString,
		reverseString;
		$('#palindromeButton').click(function(event) {
 	 event.preventDefault(); 
 	 $('#palindromeOutput').empty();
 	 inputString = $('#inputString').val().toLowerCase();
 	 
 	 inputString = inputString.replace(/[^a-z0-9]/g, '');
 	reverseString = inputString.split("").reverse().join("");
 	 if (inputString == reverseString) {
 		$('#palindromeOutput').append("You got a fancy Palindrome!");
 	}
 	else {
 		$('#palindromeOutput').append("Ah Ah Ah-You didin't say the magic word-Ah Ah Ah");
 	}
  });
});
</code>
</pre>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             </div>
                         </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                 </div><!-- /.modal -->




                </div>
        </div>
</div>


